<p>
Diese Internetseite fasst die Forschungsergebnisse über den Komponisten
und Heimatforschers August Högn (1878 - 1961) zusammen.
</p>
<p>
Der aus dem niederbayerischen Deggendorf stammende Komponist schrieb
vor allem geistliche Werke im Stil des Cäcilianismus.
</p>

<p>
Als Heimatforscher schrieb er eine Reginalgeschichte über seinen
Wohnort
<a href="https://de.wikipedia.org/wiki/Ruhmannsfelden">Ruhmannsfelden</a>
sowie eine Abhandlung über den Nachbarort
<a href="https://de.wikipedia.org/wiki/Zachenberg">Zachenberg</a>.
</p>