---
title: Inhaltsverzeichnis
---

  <h3>Alle Seiten</h3>

  <ul>
  {% for doc in site.pages %}
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
    </li>
  {% endfor %}
  </ul>

{% for collection in site.collections %}
  {% capture label %}{{ collection | first }}{% endcapture %}
  <h3>Alle Seiten im Bereich „{{ site.collections.[label].name }}“</h3>

  <ul>
  {% for doc in site.collections.[label].docs %}
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
    </li>
  {% endfor %}
  </ul>

{% endfor %}