/* dunkelgr&uuml;n #060
   hellgr&uuml;n #090
   orange #f90
   beige #fc6 */
 @charset "UTF-8";

/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
 * (en) stylesheet for screen layout
 * (de) Stylesheet f&uuml;r das Bildschirm-Layout
 *
 * @creator       YAML Builder V1.2 (http://builder.yaml.de)
 * @file          basemod.css
 * @-yaml-minver  3.2
 */
@media screen , projection { /**
   * (en) Forcing vertical scrollbars in IE8, Firefox, Webkit & Opera
   * (de) Erzwingen vertikaler Scrollbalken in IE8, Firefox, Webkit & Opera
   *
   * @workaround
   * @affected IE8, FF, Webkit, Opera
   * @css-for all
   * @valid CSS3
   */
  body {
    overflow-y: scroll;
  }
  /*-------------------------------------------------------------------------*/
  /* (en) Marginal areas & page background */
  /* (de) Randbereiche & Seitenhintergrund */
  body {
    background: #060;
    padding: 10px 0;
  }
  /* Layout Alignment | Layout-Ausrichtung */
  .page_margins {
    margin: 0 auto;
  }
  /* Layout Properties | Layout-Eigenschaften */
  .page_margins {
    width: auto;
    min-width: 740px;
    max-width: 900px;
  }
  .page {

  }
  #header {
    background: #f90;
    border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    height: 100px;
  }
  .subcolumns {
    height: 100px;
  }
  #header_col1,#header_col2 {
    float: left;
  }
  #header_col1 {
    background: url(../../images/circle.png) no-repeat;
    height: 80px;
    width: 200px;
  }
  #header_col2 {
    font-size: 36px;
    font-weight: 600;
    padding: 10px 0;
    width: 300px;
  }
  #header_col3 {
    margin-left: -5px;
    float: right;
    width: 400px;
  }
  #metaphor_arrangements .image {
    background-image: url(../../images/metaphor/arrangements.png)
  }
  #metaphor_dokumente .image {
    background-image: url(../../images/metaphor/dokumente.png)
  }
  #metaphor_augusthoegn .image {
    background-image: url(../../images/metaphor/augusthoegn.jpg)
  }
  #metaphor_gaestebuch .image {
    background-image: url(../../images/metaphor/gaestebuch.jpg)
  }
  #metaphor_geschichtswerk .image {
    background-image: url(../../images/metaphor/geschichtswerk.png)
  }
  #metaphor_interviews .image {
    background-image: url(../../images/metaphor/interviews.jpg)
  }
  #metaphor_kompositionen .image {
    background-image: url(../../images/metaphor/kompositionen.png)
  }
  #metaphor_leben .image {
    background-image: url(../../images/metaphor/leben.jpg)
  }
  #metaphor_links .image {
    background-image: url(../../images/metaphor/links.png)
  }
  #metaphor_projekt .image {
    background-image: url(../../images/metaphor/projekt.png)
  }
  #metaphor_werk .image {
    background-image: url(../../images/metaphor/werk.jpg)
  }
  .metaphor {
    position: relative;
    width: 400;
    height: 100px;
    overflow: hidden;
  }
  .metaphor .image,.metaphor .gradient,.metaphor .text {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100px;
  }
  .metaphor .image {
    z-index: 1;
    background-repeat: no-repeat;
    background-position: -100px -50px;
  }
  .metaphor .gradient {
    background: url(../../images/gradient.png) repeat-y;
    z-index: 2
  }
  .metaphor .text {
    font-size: 56px;
    text-align: right;
    text-shadow: 3px 3px 3px #ddd;
    padding: 30px 30px 0 0;
    z-index: 3;
  }
  .metaphor .corner_patch {
    background: url(../../images/corner_patch.png);
    position: absolute;
    height: 15px;
    width: 15px;
    z-index: 4;
    top: 0;
    right: 0;
  }
  #main {

  }
  #footer {
    background: #090;
    border-radius: 0 15px 0 15px;
    -moz-border-radius: 0 15px 0 15px;
    -webkit-border-radius: 0 15px 0 15px;
    color: #f90;
    font-size: 14px;
    margin: 10px 0 10px 200px;
    padding: 10px 20px;
    text-align: center;
  }
  /*-------------------------------------------------------------------------*/
  /**
   * (en) Formatting content container
   * (de) Formatierung der Inhalts-Containers
   */
  #col1 {
    float: left;
    font-size: 16px;
    font-weight: 900;
    width: 200px
  }
  #col2 {
    display: none
  }
  #col3 {
    background: #fc6;
    border-radius: 15px 0 15px 15px;
    -moz-border-radius: 15px 0 15px 15px;
    -webkit-border-radius: 15px 0 15px 15px;
    margin: 0 0 0 200px;
    position: relative;
    width: auto;
  }
  #col1_content {
    position: relative;
  }
  #col3_content {
    padding: 10px
  }
  /*  vertical divisions of col1 */
  #col1r1,#col1r2,#col1r3 {
    position: relative;
    width: 100%;
  }
  #col1r1 {
    background: #f90;
    height: 30px;
    border-radius: 0 0 0 15px;
    -moz-border-radius: 0 0 0 15px;
    -webkit-border-radius: 0 0 0 15px;
    padding: 60px 0 0 0;
  }
  #col1r1 a {
    color: #090;
  }
  #col1r2 {
    background: #090;
    border-radius: 0 15px 0 15px;
    -moz-border-radius: 0 15px 0 15px;
    -webkit-border-radius: 0 15px 0 15px;
  }
  #col1r3 {
    background: #060;
    height: 80px;
    border-radius: 0 15px 0 0;
    -moz-border-radius: 0 15px 0 0;
    -webkit-border-radius: 0 15px 0 0;
  }
  /*  Patches for rounded corners */
  #corner_patch1,#corner_patch2,#corner_patch3,#corner_patch4 {
    height: 15px;
    position: absolute;
    width: 15px;
    z-index: -1;
  }
  #corner_patch1,#corner_patch3 {
    background: #f90;
  }
  #corner_patch2,#corner_patch4 {
    background: #090;
  }
  #corner_patch1 {
    left: 0px;
    top: 0px;
  }
  #corner_patch2 {
    bottom: 0px;
    left: 0px;
  }
  #corner_patch3 {
    top: 0px;
    right: 0px;
  }
  #corner_patch4 {
    top: 0px;
    right: 0px;
  }
  #col1 ul {
    list-style-type: none;
    margin: 0 0 0 0.5em;
    padding: 5px;
  }
  #col1 li {
    display: block;
    line-height: 1em;
  }
  #col1 li ul li a {
    font-size: 14px;
  }
  #col1 #col1r1 ul {
    vertical-align: bottom;
  }
  /*-------------------------------------------------------------------------*/
}