---
title: Inhaltsverzeichnis
---

  {% include table-of-contents.html class=true %}

  <h3>Alle Seiten</h3>

  <ul class="default">
  {% for doc in site.pages %}
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
    </li>
  {% endfor %}
  </ul>

{% for collection in site.collections %}
  {% if collection.name %}
    <h3>Alle Seiten im Bereich „{{ collection.name }}“</h3>

    <ul class="default">
    {% for doc in collection.docs %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

{% endfor %}