<nav>
  <div id="col1r1">
    <div id="corner_patch2"></div>
    <ul>
      <li><a href="{{ site.baseurl }}/table-of-contents.html">Inhalt</a></li>
    </ul>
  </div>

  <div id="col1r2">
    <div id="corner_patch3"></div>
    <ul>
      <li><a href="{{ site.baseurl }}/life/">Leben</a>
        <ul>
          <li><a href="{{ site.baseurl }}/life/biographie.html">Biographie</a></li>
          <li><a href="{{ site.baseurl }}/life/hoegn-portrait.html">Fotos</a></li>
        </ul>
      </li>
      <li><a href="{{ site.baseurl }}/works/">Werk</a>
        <ul>
          <li><a href="{{ site.baseurl }}/works/compositions/compositions.html">Kompositionen</a></li>
          <li><a href="{{ site.baseurl }}/works/historical-works/">Geschichtswerk</a></li>
        </ul>
      </li>
      <li><a href="{{ site.baseurl }}/project/">Projekt</a>
        <ul>
          <li><a href="{{ site.baseurl }}/project/exploration/documents/">Dokumente</a></li>
          <li><a href="{{ site.baseurl }}/project/exploration/interviews/">Interviews</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div id="col1r3">
    <div id="corner_patch4"></div>
    <ul>
      <li><a href="{{ site.baseurl }}/links.html">Links</a></li>
      <li><a href="{{ site.baseurl }}/guestbook.html">G&auml;stebuch</a></li>
      <li><a href="{{ site.baseurl }}/imprint.html">Impressum</a></li>
      <li><a href="{{ site.baseurl }}/contact.html">Kontakt</a></li>
    </ul>
  </div>
</nav>