{% capture class %}{% if include.class %}class="default"{% endif %}{% endcapture %}

<ul {{ class }}>

  <!-- Kopiervorlage
    <ul {{ class }}>
      <li><a href="{{ site.baseurl }}/"></a></li>
    </ul>
  -->

  <!-- # Leben -->

  <li><a href="{{ site.baseurl }}/life/">Leben</a>
    <ul {{ class }}>

      <!-- ## Kurzbiographie -->

      <li><a href="{{ site.baseurl }}/life/biography/">Kurzbiographie</a></li>

      <!-- ## Tabellarischer Lebenslauf -->

      <li><a href="{{ site.baseurl }}/life/personal-data-sheet">Tabellarischer Lebenslauf</a></li>

      <!-- ## Fotos -->

      <li><a href="{{ site.baseurl }}/life/photos/">Fotos</a>
        <ul {{ class }}>
          <!-- ### August Högn -->
          <li><a href="{{ site.baseurl }}/life/photos/hoegn/">August Högn</a>
            <ul {{ class }}>
              <li><a href="{{ site.baseurl }}/life/photos/hoegn/portrait/">Portrait-Fotos</a></li>
              <li><a href="{{ site.baseurl }}/life/photos/hoegn/group/">Gruppen-Fotos</a></li>
              <li><a href="{{ site.baseurl }}/life/photos/hoegn/relatives/">Verwandte</a></li>
            </ul>
          </li>
          <!-- ### Historische Fotos -->
          <li><a href="{{ site.baseurl }}/life/photos/historical/">Historische Fotos</a>
            <ul {{ class }}>
              <li><a href="{{ site.baseurl }}/life/photos/historical/church/">Pfarrkirche</a></li>
              <li><a href="{{ site.baseurl }}/life/photos/historical/school/">Volksschule</a></li>
              <li><a href="{{ site.baseurl }}/life/photos/historical/ruhmannsfelden/">Ruhmannsfelden</a></li>
            </ul>
          </li>
          <!-- ### Aktuelle Fotos -->
          <li><a href="{{ site.baseurl }}/life/photos/today/">Aktuelle Fotos</a>
            <ul {{ class }}>
              <li><a href="{{ site.baseurl }}/life/photos/today/gravesite/">Grabstätten</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <!-- # Werk -->

  <li><a href="{{ site.baseurl }}/works/">Werk</a>
    <ul {{ class }}>
      <li><a href="{{ site.baseurl }}/works/compositions/">Kompositionen</a>
        <ul {{ class }}>
          <li><a href="{{ site.baseurl }}/works/compositions/find-spot/">Fundorte</a></li>
          <li><a href="{{ site.baseurl }}/works/compositions/arrangements.html">Arrangements</a></li>
          <li><a href="{{ site.baseurl }}/works/compositions/receptions.html">Rezipierte Werke</a></li>
        </ul>
      </li>
      <li><a href="{{ site.baseurl }}/works/historical-works/">Geschichtswerk</a></li>
    </ul>
  </li>

  <!-- # Projekt -->

  <li><a href="{{ site.baseurl }}/project/">Projekt</a>

    <ul {{ class }}>

      <!-- ## Forschung -->

      <li><a href="{{ site.baseurl }}/project/exploration/">Forschung</a>
        <ul {{ class }}>
          <li><a href="{{ site.baseurl }}/project/exploration/documents/">Dokumente</a>
            <ul {{ class }}>
              <li><a href="{{ site.baseurl }}/project/exploration/documents/find-spot">Fundorte</a></li>
            </ul>
          </li>
          <li><a href="{{ site.baseurl }}/project/exploration/interviews/">Interviews</a></li>
          <li><a href="{{ site.baseurl }}/project/exploration/correspondence/">Korrespondenz</a></li>
        </ul>
      </li>

      <!-- ## Publikationen -->

      <li><a href="{{ site.baseurl }}/project/publications/">Publikationen</a>
        <ul {{ class }}>
          <!-- ### Zulassungsarbeit -->
          <li><a href="{{ site.baseurl }}/project/publications/approval-work">Zulassungsarbeit</a></li>
          <!-- ### Buch „Der Mozart von Ruhmannsfelden“ -->
          <li><a href="{{ site.baseurl }}/project/publications/book-mozart">Buch „Der Mozart von Ruhmannsfelden“</a></li>
          <!-- ### Noten „Josephi-Messe“ -->
          <li><a href="{{ site.baseurl }}/project/publications/score-missa-josephi">Noten „Josephi-Messe“</a></li>
          <!-- ### Kopien in geringer Stückzahl -->
          <li><a href="{{ site.baseurl }}/project/publications/copies">Kopien in geringer Stückzahl</a>
            <ul {{ class }}>
              <li><a href="{{ site.baseurl }}/project/publications/copies/compositions/">Kompositionen</a></li>
              <li><a href="{{ site.baseurl }}/project/publications/copies/historical-works/">Heimatkundliche Werke</a></li>
              <li><a href="{{ site.baseurl }}/project/publications/copies/manuscripts/">Faksimilieausgabe der Manuskripte</a></li>
            </ul>
          </li>

        </ul>
      </li>

      <!-- ## Hintergrund -->

      <li><a href="{{ site.baseurl }}/project/background/">Hintergrund</a>

        <ul {{ class }}>
          <li><a href="{{ site.baseurl }}/project/background/website/">Über diese Website</a>
            <ul {{ class }}>
              <li><a href="{{ site.baseurl }}/project/background/website/links/">Linksammlung</a></li>
              <li><a href="{{ site.baseurl }}/project/background/website/guestbook/">Gästebuch</a></li>
              <li><a href="{{ site.baseurl }}/project/background/website/imprint/">Impressum</a></li>
              <li><a href="{{ site.baseurl }}/project/background/website/contact/">Kontakt</a></li>
            </ul>
          </li>
          <li><a href="{{ site.baseurl }}/project/background/thanks/">Dank</a></li>
        </ul>
      </li>

    </ul>
  </li>

</ul>

