<div id="col1r1">
  <div id="corner_patch2"></div>
  <ul>
    <li><a href="../inhalt.php">Inhalt</a></li>
  </ul>
</div>

<div id="col1r2">
  <div id="corner_patch3"></div>
  <ul>
    <li><a href="../leben.php">Leben</a>
      <ul>
        <li><a href="../leben-biographie.php">Biographie</a></li>
        <li><a href="../leben-hoegn-portrait.php">Fotos</a></li>
      </ul>
    </li>
    <li><a href="../werk.php">Werk</a>
      <ul>
        <li><a href="../werk-kompositionen.php">Kompositionen</a></li>
        <li><a href="../werk-geschichtswerk.php">Geschichtswerk</a></li>
      </ul>
    </li>
    <li><a href="../projekt.php">Projekt</a>
      <ul>
        <li><a href="../projekt-dokumente.php">Dokumente</a></li>
        <li><a href="../projekt-interviews.php">Interviews</a></li>
      </ul>
    </li>
    <li><a href="../download.php">Download</a></li>
  </ul>
</div>

<div id="col1r3">
  <div id="corner_patch4"></div>
  <ul>
    <li><a href="../links.php">Links</a></li>
    <li><a href="../gaestebuch.php">G&auml;stebuch</a></li>
    <li><a href="../impressum.php">Impressum</a></li>
    <li><a href="../kontakt.php">Kontakt</a></li>
  </ul>
</div>