<div id="col1r1">
  <div id="corner_patch2"></div>
  <ul>
    <li><a href="{{ site.baseurl }}/table-of-contents.html">Inhalt</a></li>
  </ul>
</div>

<div id="col1r2">
  <div id="corner_patch3"></div>
  <ul>
    <li><a href="{{ site.baseurl }}/leben.php">Leben</a>
      <ul>
        <li><a href="{{ site.baseurl }}/leben-biographie.php">Biographie</a></li>
        <li><a href="{{ site.baseurl }}/leben-hoegn-portrait.php">Fotos</a></li>
      </ul>
    </li>
    <li><a href="{{ site.baseurl }}/werk.php">Werk</a>
      <ul>
        <li><a href="{{ site.baseurl }}/werk-kompositionen.php">Kompositionen</a></li>
        <li><a href="{{ site.baseurl }}/werk-geschichtswerk.php">Geschichtswerk</a></li>
      </ul>
    </li>
    <li><a href="{{ site.baseurl }}/projekt.php">Projekt</a>
      <ul>
        <li><a href="{{ site.baseurl }}/projekt-dokumente.php">Dokumente</a></li>
        <li><a href="{{ site.baseurl }}/projekt-interviews.php">Interviews</a></li>
      </ul>
    </li>
  </ul>
</div>

<div id="col1r3">
  <div id="corner_patch4"></div>
  <ul>
    <li><a href="{{ site.baseurl }}/links.html">Links</a></li>
    <li><a href="{{ site.baseurl }}/gaestebuch.php">G&auml;stebuch</a></li>
    <li><a href="{{ site.baseurl }}/imprint.html">Impressum</a></li>
    <li><a href="{{ site.baseurl }}/contact.html">Kontakt</a></li>
  </ul>
</div>