---
layout: site
---

<h2>Informationen zur Komposition</h2>

<table>
{% if page.opus %}
  <tr>
    <td>Opus-Nummer:</td>
    <td>{{ page.opus }}</td>
  </tr>
{% endif %}
  <tr>
    <td>Fundort</td>
    <td>{{ page.find_spot }}</td>
  </tr>
  <tr>
    <td>Besetzung:</td>
    <td>{{ page.instrumentation }}</td>
  </tr>
  <tr>
    <td>Besetzung (Gruppen):</td>
    <td>{{ page.instrumentation_groups }}</td>
  </tr>
</table>

<h2>weitere Bezugsquellen</h2>

<table>
  <tr>
    <td>Wiki-Commons</td>
    <td><a href="https://commons.wikimedia.org/wiki/File:{{ page.wikicommons_file }}">{{ page.wikicommons_file }}</a></td>
  </tr>
  <tr>
    <td>IMSLP:</td>
    <td><a href="http://imslp.org/wiki/{{ page.imslp_project }}">http://imslp.org/wiki/{{ page.imslp_project }}</a></td>
  </tr>
</table>

{% if page.lyrics %}
  <h2>vertonter Text</h2>
  {{ page.lyrics }}
{% endif %}

{{ content }}