---
layout: site
---

<img src="{{ site.baseurl }}/works/compositions/files/{{ page.short }}/preview.jpg">

<h2>Informationen zur Komposition</h2>

{% include info.html page=page %}

<a href="{{ site.baseurl }}/works/compositions/files/{{ page.short }}/manuscript.pdf">Manuskript</a>

<h2>weitere Bezugsquellen</h2>

<table>
  <tr>
    <td>Wiki-Commons</td>
    <td><a href="https://commons.wikimedia.org/wiki/File:{{ page.wikicommons_file }}">{{ page.wikicommons_file }}</a></td>
  </tr>
  <tr>
    <td>IMSLP:</td>
    <td><a href="http://imslp.org/wiki/{{ page.imslp_project }}">http://imslp.org/wiki/{{ page.imslp_project }}</a></td>
  </tr>
</table>

{% if page.lyrics %}
  <h2>vertonter Text</h2>
  {{ page.lyrics }}
{% endif %}

{{ content }}