---
layout: bare
---

<head>
<meta charset="UTF-8" />

{% include head.html %}

</head>
<body>
<a name="top" id="top"></a>
<div class="page_margins">
  <div class="page">

    <header id="header">
      <div class="subcolumns">
        <div id="header_col1"><a href="{{ site.baseurl }}/"></a></div>
        <div id="header_col2"><a href="{{ site.baseurl }}/">August H&ouml;gn (1878 - 1961)<br>
          Leben und Werk</a></div>
        <div id="header_col3">
        {% include metaphor.html %}
        </div>
      </div>
    </header>

    <div id="main">

      <aside id="col1">
        <div id="col1_content" class="clearfix">
        {% include main_menu.html %}
        </div>
      </aside>

      <main id="col3">
        <div id="corner_patch1"></div>
        <div id="col3_content" class="clearfix">

        {{ content }}

        </div>

      </main>
    </div>

    <footer id="footer">
      {% include secondary_menu.html %}
    </footer>

  </div>
</div>

</body>
